body{
  text-align: center;
  color: #1d2325;
  padding-top: 15px;
  font-family: cursive;
}

/* p{
  padding: 20px;
  border-radius: 9px;
  border-top-left-radius: 0px;
  border-left: 4px solid rgb(21, 182, 0);
  background-color: #ececec;
} */